extends /layout

block declarations
	- additional_title = Nerdist
	
	
block additional_scripts
	script(src="http://vjs.zencdn.net/4.3/video.js")
	script.
		$(function(){
			$('li.boxed').each(function(){
				$(this).find('p > a').remove();
			});
			
			$('.link').click(function(e) {
				e.preventDefault(); 
				var link = $(this).attr('href')
				videojs("player").ready(function(){
					var myPlayer = this;
					$('#player').css('bottom','0');
					myPlayer.src(link);
					myPlayer.play();
				});
			});
		});
		
block additional_css

	link(rel='stylesheet', href='/mediacenterjs-nerdist/public/css/style.css')			
	link(rel='stylesheet', href='http://vjs.zencdn.net/4.3/video-js.css')			

block body
		header
			.container
				.row
					.col-md-12
						a.backlink(href="/") &#xe113;
						h1.hidden-xs Nerdist
						
		.container
			.row
				.col-md-12			
					ul.articles
						each article in articles
							li.article.boxed.mcjs-rc-controllable!=article
					video#player.video-js.vjs-default-skin(controls, preload="metadata", width="100%", height="33", data-setup="{}")
						source(src="",type="audio/mp3")		