body{ background:url(img/bg.png)repeat; height: auto;}
li{
	list-style:none; 
	margin:0 0 30px 0; 
	background:#fff; 
	border-radius:5px; 
	padding:30px 20px !important;
	-moz-box-shadow: 0 1px 5px #a2a2a2;
	-webkit-box-shadow: 0 1px 5px #a2a2a2;
	box-shadow: 0 1px 5px #a2a2a2;
	color:#fff;
}
#header{height:100px; overflow:hidden; background:#fff;}
#header h1{margin: 14px 0 0 60px;}

.boxed h1{ color:#000; font-size:30px; margin:0; padding:0;}
.boxed p,
.boxed p > a{ color:#444; font-size:14px; margin:0 0 20px 0; padding:0;}
.boxed img{display:none;}

#player{
	position:fixed;
	bottom:-35px;
	left:0;
}

li:first-child{margin-top:50px;}

.boxed  > a{ 
	color:#fff; 
	font-size:16px; 
	padding:0;
	background:#CB2029;
	padding:10px; 
	text-align:center;
	border-radius:5px;
	margin-top:10px;
	margin-left:-1px;
	display:inline-block;
	text-transform:uppercase;
}
